---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->

 <div class="teaching-experiences">
  <div class="experience">
    <h3>Teaching Assistant — Introduction to Computer Programming (<a href="[https://www.cis.upenn.edu/~cis110/current/py/index.html]">CIS 110</a>)</h3>
    <p>Introductory OCaml and Java.</p>
  </div>

  <div class="experience">
    <h3>Teaching Assistant — Data Science for Public Policy (<a href="[https://catalog.upenn.edu/courses/gafl/]">GAFL 5310</a>)</h3>
    <p>Graduate Course on R Shiny framework, statistics, and mapping.</p>
  </div>

  <div class="experience">
    <h3>Tutor — Machine Learning for Social Science (<a href="[https://catalog.upenn.edu/courses/crim/]">CRIM 4012</a>)</h3>
    <p>Introduction to supervised and unservised learning, deep learning, and natural language processing.</p>
  </div>
</div>
