---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->
<h1>Teaching Experience</h1>

 <div class="teaching-experiences">
  <div class="experience">
    <h3>Teaching Assistant — Introduction to Computer Programming (CIS 110)</h3>
    <p><strong>University of Pennsylvania</strong> — Philadelphia, PA</p>
    <p><em>Aug 2021 – Dec 2021</em></p>
    <p><strong>Course Description:</strong> <a href="[https://www.cis.upenn.edu/~cis110/current/py/index.html]">View Course</a></p>
    <p>Introductory OCaml and Java</p>
  </div>

  <div class="experience">
    <h3>Teaching Assistant — Data Science for Public Policy (GAFL 5310)</h3>
    <p><strong>University of Pennsylvania</strong> — Philadelphia, PA</p>
    <p><em>Jan 2024 – May 2024</em></p>
    <p><strong>Course Description:</strong></p>
    <p>Graduate Course on R Shiny framework, statistics, and mapping.</p>
  </div>

  <div class="experience">
    <h3>Tutor — Machine Learning for Social Science (CRIM 4012)</h3>
    <p><strong>University of Pennsylvania</strong> — Philadelphia, PA</p>
    <p><em>Jan 2024 – May 2024</em></p>
    <p><strong>Course Description:</strong></p>
    <p>Introduction to supervised and unservised learning, deep learning, and natural language processing.</p>
  </div>
</div>

<hr>
